#follow {
    width: 80%;
    margin: auto;
    margin-bottom: 16em;
}

.follow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
    column-gap: 4em;
}

.follow-container h1 {
    flex-grow: 1;
    text-wrap: nowrap;
}

.follow-icons {
    display: flex;
    column-gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5em;
}

.follow-icon {
    width: 30px;
}

.instagram, .facebook, .linkedin, .spotify {
    width: 200px;
    display: flex;
    padding-left: 1em;
    padding-block: 0.8em;
    align-items: center;
    margin-bottom: 1em;
    border-radius: var(--large-border-radius);
}

.instagram {
    background-color: #E0B4E8;
    transition: background-color 200ms ease-in-out;
}

.instagram:hover {
    background-color: #D098D8;
}

.facebook {
    background-color: #B4C8E8;
    transition: background-color 200ms ease-in-out;
}

.facebook:hover {
    background-color: #9AA3D8;
}

.linkedin {
    background-color: #A7A6F1;
    transition: background-color 200ms ease-in-out;
}

.linkedin:hover {
    background-color: #8A8AF1;
}

.spotify {
    background-color: #9AEB99;
    transition: background-color 200ms ease-in-out;
}

.spotify:hover {
    background-color: #8AD28A;
}

@media screen and (max-width: 1200px) {
    .follow-container {
        flex-wrap: wrap;
        row-gap: 3em;
        align-items: center;
        text-align: center;
    }
}