#checklist {
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    margin-bottom: 12em;
    width: 100%;
    align-items: center;
}

.check-icon {
    width: 32px;
}

hr {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: var(--graphics-color-lighter);
}

.checklist-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5em;
    align-items: center;
}

.checklist-item {
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
}

.item-content {
    margin: auto;
}

.item-columns {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    column-gap: 6em;
}