@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-color: #FFF8F0;
  --graphics-color: #181818;
  --graphics-color-hover-light: #464545;
  --graphics-color-hover: #302f2f;
  --graphics-color-light: #c8c4bf;
  --graphics-color-lighter: #eee8e1;
  --graphics-color-lightest: #f5f0e9;

  --small-border-radius: 4px;
  --large-border-radius: 32px;
}

@font-face {
  font-family: 'Redaction';
  src: url(./fonts/Redaction-Regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'Redaction';
  src: url(./fonts/Redaction-Bold.woff2);
  font-weight: 700;
}

@font-face {
  font-family: 'Redaction';
  src: url(./fonts/Redaction-Italic.woff2);
  font-weight: 400;
  font-style: italic;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  margin-top: 3em;
  background-color: var(--background-color);
  color: var(--graphics-color);

  overflow-x: hidden;
}

main {
  margin-inline: 4em;
}

::selection {
  background-color: var(--graphics-color);
  color: var(--background-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Redaction', serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: 'Public Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 0.6em;
}

hr {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--graphics-color-lighter);
}

.vertical-line {
  width: 4px;
  height: 100%;
  background-color: var(--graphics-color-light);
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
  text-decoration-color: var(--graphics-color-light);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.link {
  cursor: pointer;
  position: relative;
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--graphics-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link-inv {
  cursor: pointer;
  position: relative;
}

.link-inv::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--background-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.link-inv:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.img-container {
  position: relative;
  overflow: hidden;
  /*  Make space for the box shadow cause of overflow hidden */
  margin: -100px;
  padding: 100px;
}

.img-styling {
  border-radius: var(--large-border-radius);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.1);
}
