.navbar {
    display: flex;
    justify-content: space-between;
    font-family: "Redaction", serif;
    font-size: 1.1rem;
    margin-bottom: 4em;
    margin-inline: 4em;
}

.fixed-navbar {
  position: fixed;
  top: 3em;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  height: 40px;
  padding-inline: 2em;
  border-radius: var(--large-border-radius);
  justify-content: space-between;
  background-color: var(--graphics-color);
  color: var(--background-color);
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  z-index: 5;
  /*border: 2px solid var(--graphics-color-hover);*/
}

.fixed-navbar menu {
  background-color: var(--graphics-color);
  color: var(--background-color);
  top: 20px;
}

.fixed-navbar .current {
  text-decoration: none;
}

.fixed-navbar .nav-dropdown {
  border-color: var(--graphics-color-hover);
}

.fixed-navbar .vertical-line {
  background-color: var(--graphics-color-hover);
}

.fixed-navbar .nav-dropdown + .nav-home a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--background-color);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.fixed-navbar .nav-home:hover a::after {
  transform: scaleX(1);
}

.fixed-navbar .nav-dropdown:hover + .nav-home a::after {
  transform: scaleX(1);
}

.navbar-links {
  position: relative;
  display: flex;
  column-gap: 6em;
  align-items: center;
  z-index: 10;
}

.home-nav-wrapper {
  position: relative;
}

.current {
  text-decoration: underline;
  text-decoration-color: var(--graphics-color-light);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

.nav-home {
  width: 70px;
  transition: width 400ms ease-in-out;
}

.nav-home a {
  transition: padding-right 400ms ease-in-out;
}

.nav-home:hover {
  width: calc(70px + 12em);
}

.nav-home:hover a {
  padding-right: 12em;
}

.nav-home:hover .nav-dropdown-arrow {
  rotate: 180deg;
}

.nav-dropdown {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 22px;
  left: 0px;
  background-color: var(--background-color);
  border: 2px solid var(--graphics-color-lighter);
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding-block: 2em;
  padding-inline: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1.2em;
  z-index: -1; /* Relative to the navbar */
  transition: opacity 200ms ease-in-out;
}

.nav-dropdown a {
  font-family: 'Public Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}

.nav-dropdown:hover + .nav-home {
  width: calc(70px + 12em);
}

.nav-dropdown:hover + .nav-home a {
  padding-right: 12em;
}

.nav-dropdown + .nav-home a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--graphics-color);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}

.nav-home:hover a::after {
  transform: scaleX(1);
}

.nav-dropdown:hover + .nav-home a::after {
  transform: scaleX(1);
}

.nav-dropdown:hover + .nav-home .nav-dropdown-arrow {
  rotate: 180deg;
}

.nav-dropdown-arrow {
  margin-left: 6px;
  width: 16px;
  position: relative;
  transition: rotate 400ms ease-in-out;
}

.logo {
  width: 240px;
}

.navbar-links ul {
  display: flex;
  column-gap: 1.2em;
  align-items: center;
}

.vertical-line {
  width: 4px;
  height: 20px;
  background-color: var(--graphics-color-light);
}

.account-nav {
  display: flex;
  align-items: center;
  column-gap: 0.5em;
}

.account-icon {
  width: 16px;
}
