.mask-animation-container {
    position: relative;
    z-index: -1;
}

.animation-center {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mask-animation {
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    background-color: var(--graphics-color);
}